node_modules/
dist/
build/

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.py[cod]
desktop.ini

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.env
.env.*
!.env.example

.streamlit/secrets.toml

.vscode/
.zed/
.idea/
.DS_Store
Thumbs.db
venv/